$color-sky: #1071ef;
$color-sky-hover: #0b5de8;
$color-sky-active: #074be4;
$color-green: #298210;
$color-red: #ea0e0e;
$color-blue: #1071ee;
$color-sunset: #ed7000;
$color-sunset-hover: #e85c00;
$color-sunset-active: #e45000;
$color-dark : #1f272f;
$color-white: #fff;
$color-white-hover: #4ffaff;
$color-white-active: #E7F4FD;
$color-beach:#FEC735;
$color-grass:#1f272f;
$color-fire: #eb0e0e;
$color-silver: #EDEEF0;
$color-cloud: #D2D5D7;
$color-storm: #959FA8;
$color-smoke-hover: #3E4852;
$color-smoke: #545E68;
$color-smoke-active: #2A343E;

@mixin breakpoint($class) {

  @if $class == tablet-landscape {
  	 @media (min-width:768px) and (max-width: 1024px) { @content; }
  }
  @else if $class == large-screen {
    @media (min-width: $max-support-screen-size) { @content; }
  }
  @else if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}