.modal {
    .modal-content {
        background: $color-silver;
        padding: 30px;
        border: none;
        width: 490px;
        max-width: 100%;
        border-radius: 5px;
        .modal-header {
            padding: 0px 0px 15px 0px;
            border-bottom: none;
            .close {
                img {
                    width: 18px;
                    cursor: pointer;
                }
            }
        }
        .modal-body {
            padding : 0px;
            font-family: "Roboto";
            font-weight: 300;
            .form-group {
                position: relative;
                label {
                    font-size: 14px;
                    margin-bottom: 0.25rem;
                }
                input {
                    height: 45px;
                    border: none;
                    font-size: 16px;
                }
                textarea {
                    font-size: 16px;
                    border: none;
                }
                .required{
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    font-size: 12px;
                    color: $color-storm;
                }
            }
            .submit-button {
                height: 45px;
                margin-top: 25px;
                cursor: pointer;
                font-size: 18px;
            }
        }
        .modal-title {
            font-size: 30px;
            font-weight: 500;
            line-height: 1;
        }
    }
}