@import '_constants.scss';
@import '_modal.scss';
$max-content-width: 960px;
.restricted-container {
    max-width: $max-content-width;
    margin: 0 auto;
}

.branding {
    position: relative;
    overflow: hidden;
    min-height: 300px;
    padding: 0px 20px 50px 20px;
    background-image: url('/images/fallback.jpg');
    background-size: cover;

    @include breakpoint(xs) {
        padding-left: 15px;
        padding-right: 15px;
    }
    text-align: center;
    >* {
        position: relative;
    }
    .overlay-text {
        max-width: $max-content-width;
        margin: 0 auto;
    }
    nav {
        padding-top: 0px;
        margin-bottom: 50px;
        font-family: 'Roboto';
        .navbar-brand {
            padding-top: 0px;
            img {
                margin-top: 20px;
            }
        }
        .form-inline {
            @include breakpoint(xs) {
                float: right;
                background: white;
                position: absolute;
                right: 0px;
                z-index: 1000;
                top: 50px;
                .navbar-nav {
                    padding-bottom: 30px;
                    .nav-item {
                        height: 50px;
                        .nav-link {
                            line-height: 50px;
                            padding-top: 0px;
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
        .nav-item {
            height: 80px;
            border-top: solid 4px transparent;
            &.login {
                a {
                    @include breakpoint(xs) {
                        padding: 5px ;
                    }
                }
            }
            .nav-link {
                color: $color-dark;
                margin-top: 20px;
                text-transform: uppercase;
                padding: 0px 35px;
                font-weight: 400;
                font-size: 13px;
                i {
                    font-size: 16px;
                    margin-right: 5px;
                }
                .login-button {
                    border: solid 1px $color-storm;
                    padding:4px 10px;
                    border-radius: 5px;
                    &:hover {
                        background: rgba(31, 39, 47, 0.1);
                    }
                }
            }
            &.active {
                border-top: solid 4px $color-sky-active;
            }
            &:hover {
                border-top: solid 4px $color-sky-hover;
            }
            &.login {
                border-top-color: transparent !important;
                margin-right: 0px;
                padding-right: 0px;
                a {
                    padding-right: 0px;
                }
            }
        }
    }
    >video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
        opacity: 0.9;
    }
    h2 {
        position: relative;
        font-size: 30px;
    }
    .request-demo {
        line-height: 50px;
        margin-top: 35px;
        margin-bottom: 50px;
        display: inline-block;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 21px;
    }
    article {
        font-size: 18px;
    }
    .view-more {
        display: block;
        img {
            width: 32px;
        }
    }
}

.brand-logos {
    margin: 0px;
    background: $color-dark;
    width: 100%;
    padding: 15px 0px;
    @include breakpoint(xs) {
        padding: 15px;
    }
    ul {
        list-style: none;
        height: 40px;
        margin: 0 auto;
        padding: 0;
        @include breakpoint(xs) {
            overflow-x: hidden;
            height: auto;
        }
        li {
            margin-right: 40px;
            float: left;
            &:last-child {
                margin-right: 0px;
            }
            @include breakpoint(xs) {
                xwidth: 33.33%;
                margin-bottom: 25px;
                margin-right: 25px;
            }
            img {
                xwidth: 100%;
                height: 40px;
            }
        }
    }
}

.content {
    background: transparent;
    padding: 35px 0px;
    @include breakpoint(tablet-landscape) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @include breakpoint(xs) {
        padding: 15px;
        margin-left: 0px;
    }
    .image-padding {
        padding-top: 20px;
    }
    section {
        margin-bottom: 25px;
        padding-top: 25px;
        article {
            header {
                font-size: 30px;
                margin-bottom: 10px;
            }
            p {
                font-size: 16px;
            }
        }
        img {
            width: 100%;
        }
    }
}

.solutions {
    background: $color-silver;
    min-height: 340px;
    text-align: center;
    padding: 50px 0px;
    @include breakpoint(xs) {
        padding-top: 0px;
    }
    .wrapper {
        @include breakpoint(xs) {
            margin-left: 0px;
            padding: 30px 15px;
        }
        @include breakpoint(tablet-landscape) {
            margin-left: 0px;
            padding-left: 15px;
            width: 100% !important;
            padding-right: 15px;
        }
        .nav-tabs {
            display: inline-block;
            border-bottom: 0px;
            margin: 0 auto;
            .nav-item {
                margin: 10px 20px;
                @include breakpoint(xs) {
                    width: 100%;
                    margin: 10px 0px;
                }
                @include breakpoint(tablet-landscape) {
                    margin: 10px 5px;
                }
                float: left;
                a {
                    border-radius: 20px;
                    background: $color-silver;
                    font-weight: 500;
                    padding: 0px 30px;
                    line-height: 40px;
                    font-size: 16px;
                    color: $color-dark;
                    border: $color-cloud solid 1px;
                    @include breakpoint(tablet-landscape) {
                        padding: 0px 10px;
                    }
                    &.active {
                        background: $color-cloud;
                        cursor: default;
                    }
                    &:hover {
                        background: $color-cloud;
                    }
                }
            }
        }
        .tab-content {
            position: relative;
            .indicator {
                position: absolute;
                top: 130px;
                width: 30px;
                height: 50px;
                @include breakpoint(xs) {
                    top: 70px;
                }
                &.left {
                    left: 0;
                    background: url('/images/more-left.svg') no-repeat;
                }
                &.right {
                    right: 0;
                    background: url('/images/more-right.svg') no-repeat;
                }
            }
        }
        .tab-pane {
            .button-sky {
                line-height: 45px;
                border-radius: 5px;
                display: inline-block;
                padding-left: 30px;
                padding-right: 30px;
                font-weight: 300;
                @include breakpoint(xs) {
                    padding:  5px 15px;
                }
            }
            .img-fluid {
                margin-bottom: 20px;
                max-width: 550px !important;
                @include breakpoint(xs) {
                    max-width: 100% !important;
                    width: 100% !important;
                }
            }
        }
    }
}

footer {
    background: $color-dark;
    color: $color-cloud;
    padding: 30px 0px 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    overflow: hidden;
    @include breakpoint(xs) {
        padding: 15px;
    }
    .contact {
        padding: 0px 0px;
        padding-bottom: 30px;
        @include breakpoint(xs) {
            padding: 0px;
            .communication {
                text-align: left !important;
            }
        }
        .contactus {
            font-size: 24px;
            font-family: roboto_slablight;
        }
        .email-phone {
            margin-top: 35px;
            display: block;
        }
    }
    hr {
        border-top: solid 1px rgba(255, 255, 255, 0.2);
    }
    .social-media {
        padding: 5px 0px;
        @include breakpoint(xs) {
            padding: 15px 0px;
        }
        i {
            font-size: 21px;
        }
        >div{
            @include breakpoint(xs) {
                margin-bottom: 15px;
            }
        }
    }
    .button-sunset {
        display: inline-block;
        line-height: 40px;
        padding-left: 35px;
        margin-top: 35px;
        padding-right: 35px;
        font-size: 21px;
        font-weight: 300;
        font-family: 'roboto_slablight', sans-serif;
        color: white;
        @include breakpoint(tablet-landscape) {
            width: 100%;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
        }
        @include breakpoint(xs) {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;
        }
    }
    a {
        color: $color-cloud;
        &:hover,
        &:focus,
        &:visited {
            color: white;
        }
    }
}
.no-video-mobile{
    .branding{
        background-image: url('/images/fallback-mobile.jpg');
        background-size: cover;
    }
}