// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
@import 'bower_components/font-awesome/scss/font-awesome.scss';
// endbower
@import '_constants.scss';

@font-face {
    font-family: 'roboto_slablight';
    src: url('/fonts/RobotoSlab-Light-webfont.eot');
    src: url('/fonts/RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/RobotoSlab-Light-webfont.woff') format('woff'),
         url('/fonts/RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('/fonts/RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.navbar-brand {
  img{
    width: 100px;
  }
}
.button-sunset{
  background: $color-sunset;
  color: white;
  border-radius: 5px;
  &:hover{
    background: $color-sunset-hover;
    text-decoration: none;
    color: white;
  }
}
.button-sky{
  background: $color-sky;
  color: white;
  border-radius: 5px;
  &:hover{
    background: $color-sky-hover;
    text-decoration: none;
    color: white;
  }
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: 'roboto_slablight', sans-serif;
}
.container-fluid{
  padding: 0px;
}
p{
  text-align: justify;
}
.xs-align-left{
  @include breakpoint(xs) {
    text-align: left !important;
  }
}
/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}
h2{
  font-size: 30px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */

}

@import 'home.scss';
@import 'privacy.scss';
