@import '_constants.scss';
.privacy {
    header {
        height: 80px;
        nav {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 10px;
            padding-bottom: 30px;
            background: rgba(255, 255, 255, 0.95);
            -webkit-box-shadow: 0px 2px 5px 0px rgba(237, 238, 240, 0.1);
            -moz-box-shadow: 0px 2px 5px 0px rgba(237, 238, 240, 0.1);
            box-shadow: 0px 2px 5px 0px rgba(237, 238, 240, 0.1);
            a {
                margin-top: 20px;
                line-height: 35px;
                padding: 0px 15px;
                border: solid 2px $color-storm;
                color: $color-dark;
            }
        }
    }
    main {
        h1 {
            width: 100%;
            text-align: center;
            font-weight: 600;
            margin-bottom: 25px;
            font-size: 30px;
        }
        h2 {
            font-size: 24px;
            font-weight: 500;
        }
        article {
            margin-top: 25px;
            p {
                text-justify: inter-word;
                text-align: justify;
            }
        }
    }
}